/* Body */

body {
  background-color: #001D6E;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

div {
  border-radius: 10px;
}

.bodyBody {
  width: 75%;
  margin: auto;
}

@media (max-width: 1199.98px) {
  body {
    font-size: 1.5rem !important;
  }
}


/* Title Section */

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #6ea1e6;
  padding: 10px 15px;
}

.brand-img {
  max-width: 50px;
  max-height: inherit;
  border-radius: 50%;
}

.intro {
  background-color: #FEE2C5;
  padding: 40px;
}

.PFheader {
  margin: auto;
  width: 45%;
}

.pfp {
  border: 5px solid #001D6E;
  border-radius: 50%;
  max-width: 200px;
}

h1 {
  font-family: 'Fascinate', cursive;
}


.grow {
  padding: 5px;
  /* border-radius: 10px; */
  height: 70px;
  width: 22;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}

.grow:hover {
  height: 350px;
}

.story {
  background-color: #ffce99;
  padding: 20px;
}

/* Examples */

.examples {
  background-color: #C4DDFF;
  padding: 20px 60px;
}

.carouselImg {
  max-height: 350px;
  max-width: inherit;
}

.csl-dark {
  color: darkblue;
  font-size: 2rem;
}

/* Skills */

.skills {
  padding: 40px;
  background-color: #335AA8;
  font-size: 1.5rem;
  color: white;
}

.skillSet {
  margin: 0 30%;
  font-family: 'VT323', monospace;
}

.Languages {
  padding: 20px;
  /* background-color: lightblue; */
  width: 50%;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  margin: auto;
}

.Lang {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Contacts */

.contact {
    background-color: #8Fa5FF;
    text-align: center;
    padding: 20px 60px;
}

.socialLinks {
  margin-top: 20px;
}

.socials {
  background-color: #7FB5FF;
  text-align: center;
  padding: 20px 60px;
}
